
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your character's name:</h2>

<form action="/Game/Initialize">
    <input type="text" name="name" value="Fremulon"><br>
    <input type="submit" value="Submit">
</form>