
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Character Selection</h2>

<div class="row">
    <div class="col-md-4">
        <h2><a class="btn btn-default" href="/Game/Create">Create a new game &raquo;</a></h2>
    </div>
    <div class="col-md-4">
        <h2><a class="btn btn-default" href="/Game/Continue">Continue your game &raquo;</a></h2>
        @ViewBag.Message
    </div>
</div>