@using CoZ.ViewModels
@model CoZ.ViewModels.InventoryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventory</h2>

<table>
    @for (int i = 0; i < Model.Inventory.Count; i++)
    {
    <tr>
        <td>
            <h3>|-Item Name: @Model.Inventory[i].ItemName-| </h3>
        </td>
        <td>
            <h3>|-Item Description: @Model.Inventory[i].ItemType-| </h3>
        </td>
        <td>
            <h3>|-Item Value: @Model.Inventory[i].Value-|</h3>
        </td>
        <td>
                @if (Model.Inventory[i].ItemType == CoZ.Models.Items.EItemType.Consumable)
                {
                <form action="/Inventory/ConsumeItem/">
                    <input type="hidden" name="itemName" value="@Model.Inventory[i].ItemName"/>
                    <input type="submit" value="Consume">
                </form>
                }
        </td>
    </tr>
    }
</table>

<div class="row">
    <div class="col-md-4">
        <h2><a class="btn btn-default" href="/Location/Index">Go back to the game &raquo;</a></h2>
    </div>
</div>
