@using CoZ.ViewModels
@model CoZ.ViewModels.InventoryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventory</h2>

<table>
    @for (int i = 0; i < Model.Inventory.Count; i++)
    {
        <tr>
            <td>
                @Model.Inventory[i].ItemName
            </td>
            <td>
                @Model.Inventory[i].ItemType
            </td>
            <td>
                @Model.Inventory[i].Value
            </td>
        </tr>
    }
</table>

<div class="row">
    <div class="col-md-4">
        <h2><a class="btn btn-default" href="/Location/Index">Go back to the game &raquo;</a></h2>
    </div>
</div>
