@using CoZ.Models.Locations
@model CoZ.Models.Locations.Location
@{
    ViewBag.Title = "Current Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You find yourself in @Model.ShortDescription</h2>

<h3>@Model.Description</h3>

