@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>YOU DIED!</h2>

<h2>GIT GUD!</h2>

<div class="row">
    <div class="col-md-4">
        <h3><a class="btn btn-default" href="/Game/Create/">Start a new game &raquo;</a></h3>
    </div>
    <div class="col-md-4">
        <h3><a class="btn btn-default" href="/Home/Index">Return to the homepage &raquo;</a></h3>
    </div>
</div>