@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You have leveled up!</h2>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-4">
        <h2>You feel like you have become stronger!</h2>
    </div>
    <div class="col-md-4">
        <h2>Journey on, young adventurer!</h2>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-offset-10">
        <p><a class="btn btn-default" href="/Battle/LevelUp">Continue your journey &raquo;</a></p>
    </div>
</div>