@using CoZ.ViewModels
@model CoZ.ViewModels.BattleViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You have defeated the @Model.MonsterName !</h2>


<br />
<br />
<br />

<div class="row">
    <div class="col-md-3">
        <h3>You have gained @Model.MonsterLevel Experience!</h3>
    </div>
    <div class="col-md-3">
        <h3>You have found @Model.MonsterGold Gold!</h3>
    </div>
    @if (Model.ItemName != null)
    {
        <div class="col-md-3">
            <h3>You have found a @Model.ItemName</h3>
        </div>
    }
</div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-offset-10">
        <p><a class="btn btn-default" href="/Battle/LevelUp">Continue your journey &raquo;</a></p>
    </div>
</div>