@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Yacht-adjacent<br />
    Rozenburglaan, Groningen<br />
    <abbr title="Phone">P:</abbr>
    06.404.404.XX
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@conzo.com">Support@conzo.com</a><br />
</address>