@{
    ViewBag.Title = "Conquest of Zork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Conquest of Zork</h1>
    <p class="lead">Conquest of Zork is the greatest game you will ever play. Period.</p>
    <p><a href="/Location/Index" class="btn btn-primary btn-lg">Start Playing &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to Play</h2>
        <p>
            Conquest of Zork is one of the most complex and hyper realistic games you will ever get the pleasure to play. To make the most out of your experience we highly recommend you read our comprehensive starting guide.
        </p>
        <p><a class="btn btn-default" href="/Home/Manual">Educate me &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Patch Notes</h2>
        <p>The game is currently in development, and continuous updates will be released over the upcoming weeks. Read how this will affect your play-through in our comprehensive Patch Notes.</p>
        <p><a class="btn btn-default" href="/Home/PatchNotes">See changes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Continue Game</h2>
        <p>This game is so grand in it's scope, it is impossible to start a game and finish it in one sitting. Because of our inovative auto-save system you can continue your adventure right now.</p>
        <p><a class="btn btn-default" href="/Account/Login">Continue game &raquo;</a></p>
    </div>
</div>