@{
    ViewBag.Title = "Game Manual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>

<h3>1.0 The Story so far...</h3>
<p>
    The local kobold army has kidnapped to local princess Rose and took her to their dragon demi-god Kraltock. You must get her back.
</p>
<h3>2.0 Combat System</h3>
<p>
    To rescue the princess, you will have to fight your way through hordes of monsterous Kobolds. You and the monster wil in turn attack each other until the health total of one of you reaches 0.
</p>
<h3>2.1 Winning a Battle</h3>
<p>
    After defeating whatever is standing in your way, you are free to collect any items and gold their corpse leaves behind. As an added bonus, you will collect experience points!
</p>
<h3>2.2 Leveling Up!</h3>
<p>
    Once you have collected enough experience points, you will become stronger and level up. Good job!
</p>
<h3>3.0 Your Character</h3>
<p>
    Your character has health points, mana points and strength.
</p>
<h3>3.1 Your Inventory</h3>
<p>
    All the items that you pick up during your adventure will appear here.
</p>
<h3>4.0 Items</h3>
<p>
    There are 3 different types of items you can encounter on your journey. Weapons, Armor and Potions
</p>
<h3>4.1 Weapons</h3>
<p>
    Use the sharp end and jab it at a monster.
</p>
<h3>4.2 Armor</h3>
<p>
    For instructions on how to clean your armor, ask your mother.
</p>
<h3>4.3 Potions</h3>
<p>
    One use only, use it wisely.
</p>
<h3>5.0 World Map</h3>
<p>
    Keep track of your current location, and see any of the areas you have visited.
</p>