
@{
    ViewBag.Title = "Patch Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>Patch 0.1a</h3>
<p>Basic land types have been added. River Daddy is working on implementing a mind boggling river system.</p>

